
<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-icon  class="link" [routerLink]="''">event_note</mat-icon>
  <span class="link" [routerLink]="''">TodoApp</span>
  <span class="gap"></span>
  <span class="link" [routerLink]="'list'">List</span>
  <span class="spacer"></span>
  <div *ngIf="authState==null">
  <span class="link" [routerLink]="'login'">Login</span>
  <span class="gap"></span>
  <span class="link" [routerLink]="'signup'">Sign up</span>
  </div>
  <div *ngIf="authState!=null">
    <span>{{authState.displayName}}</span>
    <span class="gap"></span>
  <span class="link" (click)="signout()">Sign out</span>
</div>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
